@use '../BASE/colors' as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    &__text {
        color: $light-blue;
    }
}

@media  screen and (min-width:1024px) {
    .footer {
    margin-bottom: 4rem;
}
}