@use '../BASE/colors' as *;

.header {
    position: relative;
    overflow-y: visible;
	overflow-x: clip;
    margin-bottom: 30rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    z-index: 50;

     &__logo {
        cursor: pointer;
    }

     &__btn {
         width: 170px; 
         height: 56px;    
         background-color: transparent;
         border-radius: .5rem;
         transition: background-color .5s, color .5s, border .5s;
         color:$dark;
         text-transform: uppercase;
         text-decoration: none;
         border: none;
         font-weight: bold;
         font-size: 16px;
         cursor: pointer;
    }
}


@media screen and (min-width:1024px) {
    .nav {
    margin-bottom: 6rem;

     &__btn:hover {
        color: #fff;
        background-color: $dark;
        cursor: pointer;
     }

     &__btn:focus {
        background-color: #fff;
        border: 1px solid $dark;
        color: $dark;
     }
}
}

//  HERO SECTION

.hero {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 8rem;
    display: grid;
    grid-template-columns: auto;

    &__title {
            color: $dark;
            font-size: 48px;
            font-weight: 900;
            text-transform: uppercase;
        }

        &__text {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            text-wrap: balance;
            line-height: 150%;
            color: $light-blue;
        }

    &__cta {
        display: flex;
        align-items: center; 
    }

    &__link {
        width: 170px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        border: 1px solid $main-color;
        border-radius: .5rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
    }

    &__gray {
        padding-left: 1rem;
        color: $light-blue;
        text-transform: uppercase;
        font-weight: 600;
    }

    &__img {
        position: absolute;
        top: 350px;
        left: 10px;

        img {
            display: block;
            width: 120%;
            border-radius: 1rem;
        }
    }
}

@media screen and (min-width:768px) {

    .header {
    margin-bottom: 1rem;
}

    .hero {
    margin-bottom: 4rem;
    grid-template-columns: 1fr 1fr;

    &__description {
        grid-column: 1/2;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__title {
            font-size: 56px;
        }

        &__text {
            padding-top: 2rem;
            padding-bottom: 2.5rem;
        }

    &__img {
        grid-column: 2/3;
        top: 0;
        left: 50px;
        img {
            width: 150%;
        }
    }
}

}

@media screen and (min-width:1024px) {
    .hero {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    &__description {
        grid-column: 1/2;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

        &__text {
            width: 90%;
            text-wrap: balance;
        }

    &__link {
        transition: opacity .3s, border .5s;
    }

    &__link:hover {
        opacity: .7;
    }

    &__gray {
        padding-left: 1rem;
        color: $light-blue;
        text-transform: uppercase;
        font-weight: 600;
    }

    &__img {
        grid-column: 2/3;
        position: static;
        top: 0;
        left: 0;
        img {
            width: 100%;
        }
    }
}
}

@media screen and (min-width:1200px) {
    .hero {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    &__description {
        margin-top: 2rem;
    }

    &__title {
            width: 50%;
        }

        &__text {
            width: 80%;
        }

    &__img {
        grid-column: 2/3;
        position: static;
        top: 0;
        left: 0;
        img {
            width: 100%;
        }
    }
}
}
